<div id="TopPage"></div><br>

<h1 class="text-center text-decoration-underline mt-5 fw-bold">{{title}}:</h1>

<div class="ods-box mt-2">

    <div class="container">
        <div class="row mt-2">
            <div class="col-lg-4 text-center mt-2">
                <div>Autonomie</div>
                <div class="piechart1">60%</div>
            </div>

            <div class="col-lg-4 text-center mt-2">
                <div>Curiosité</div>
                <div class="piechart2">80%</div>
            </div>

            <div class="col-lg-4 text-center mt-2">
                <div>Sens de l'écoute</div>
                <div class="piechart3">80%</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 mt-2"></div>
            <div class="col-lg-4 text-center mt-2">
                <div>Organisation</div>
                <div class="piechart4">70%</div>
            </div>
            <div class="col-lg-4 text-center mt-2">
                <div>Rigueur</div>
                <div class="piechart5">80%</div>
            </div>
        </div>
    </div>
</div>