<div id="TopPage"></div><br>

<h1 class="text-center text-decoration-underline mt-5 fw-bold">{{title}}:</h1>

<div class="ods-box mt-2">

    <mat-tab-group>
        <!--
    Football
-->

        <mat-tab label={{onglet1}}>
            <div class="ods-box1">
                <div class="col-lg-8 col-md-8 mx-auto mt-2">

                    <h2 class="text-center">{{onglet1}}</h2>
                    <div class="mt-2">
                        <ul>
                            <li>
                                <h3>Pratique:</h3>
                                <p>Pratiqué pendant 20 ans au niveau départemental au club de Toufflers AF, ce sport m'a
                                    permis
                                    de développer un esprit d'équipe, tout en portant également une attention
                                    particulière sur
                                    mes propres performances. Ce sport m'a aussi permis de développer une certaine
                                    confiance en
                                    moi, mais aussi de pouvoir me remettre en question.</p>
                            </li>
                            <li>
                                <h3 class="mt-2">Enseigné:</h3>
                                <p>Durant mes années de pratique et même après, j'ai eu l'opportunité de m'occuper de
                                    plusieurs
                                    équipes de jeunes joueurs en France et en Belgique pour leurs transmettre les bases
                                    de ce
                                    jeu, mais aussi les aider à exploiter leurs potentiel, je les ai également aidé à
                                    grandir en
                                    tant que joueur mais aussi en tant qu'être humain en leurs transmettant des valeurs
                                    telles
                                    que le respect de sois et de l'autre, apprendre à travailler en équipe, mettre en
                                    place une
                                    tactique dans laquelle chacun a un rôle àa jouer pour arriver à atteindre un
                                    objectif
                                    commun.<br>
                                    Ce rôle d'éducateur m'a appris à m'adapter à toute sorte de situations, trouver une
                                    solution
                                    immédiate à un probleme. <br>
                                    Ce rôle m'a également appris qu'il fallait non seulement utiliser ses points forts,
                                    mais
                                    également travailler sur ses points faibles. <br>
                                    Selon moi, le coach/l'éducateur peut-être considéré comme un chef de projet.
                                </p>
                            </li>
                            <li>
                                <h3 class="mt-2">Diplômes obtenus</h3>
                                <p>Durant mes années de coaching, j'ai suivi 2 formations diplomantes qui m'ont permis
                                    de
                                    solidifier mes connaissances dans ce domaine. <br>
                                    -Diplôme obtenu en France: Certificat de jeune animateur de football.<br>
                                    -Diplôme obtenu en Belgique: Certificat Aspirant coach qui donne l'autorisation de
                                    coacher
                                    jusqu'au niveau provincial.</p>
                            </li>
                            <li>
                                <h3 class="mt-2">Investissement dans le club:</h3>
                                <p>En plus des rôles de joueurs et coach, j'ai également assumé le rôle de responsable
                                    du
                                    matériel, j'ai eu la responsabilité des inventaires (ballons, maillots et autres
                                    matériels
                                    utilisés pour les séances, les matchs), commande du matériel manquant, récupération
                                    et
                                    vérification des commandes passées, recherche de nouveaux fournisseurs si besoin. Ce
                                    rôle
                                    m'a permis d'acquérir une certaine rigueur.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </mat-tab>

        <!--
    Numériques
-->
        <mat-tab label={{onglet2}}>
            <div class="ods-box1">
                <div class="col-lg-8 col-md-8 mx-auto mt-2">
                    <h2 class="text-center">{{onglet2}}</h2>
                    <div class="mt-2">
                        <ul>
                            <li>
                                <h3>Jeux Vidéos</h3>
                                <p>
                                    Joueur multi-plateformes (PS, Switch, GSM, PC), intéréssé par plusieurs styles de
                                    Jeux.
                                </p>
                            </li>
                            <li>
                                <h3 class="mt-2">Surfer sur le net</h3>
                                <p>
                                    Permet d'apprendre de nouvelles choses, d'obtenir de nouvelles informations.
                                    <br>Permet également de consulter des documentations pas toujours disponible en
                                    version papier.
                                </p>
                            </li>
                            <li>
                                <h3 class="mt-2">Le code</h3>
                                <p>
                                    Toujours de nouvelles technologies, de nouvelles fonctions.
                                    <br>Il faut toujours s'adapter, et du coup on ne tombe jamais dans l'ennui ni la
                                    lassitude.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </mat-tab>

        <!--
    Autres loisirs
-->
        <mat-tab label={{onglet3}}>
            <div class="ods-box1">
                <div class="col-lg-8 col-md-8 mx-auto mt-2">
                    <h2 class="text-center">{{onglet3}}</h2>
                    <div class="mt-2">
                        <ul>
                            <li>
                                <h3>La musique</h3>
                                <p>Elle adoucit les moeurs et favorise la sereinité.</p>
                            </li>
                            <li>
                                <h3>Le cinéma</h3>
                                <p>Plutot film d'action/sciences fictions</p>
                            </li>
                            <li>
                                <h3>La natation</h3>
                                <p>Bonne pour le corps et l'esprit</p>
                            </li>
                            <li>
                                <h3>Les bons moments entre amis/en famille</h3>
                                <p>Ils participent au bien-être et l'équilibre de chacun</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>