<div id="TopPage"></div><br>
<h1 class="text-center text-decoration-underline mt-5 fw-bold">{{title}}:</h1>
<div class="ods-box mt-2">
    <div class="row mt-2">

        <div class="col-lg-3 col-md-3 mx-auto">
            <h3 class="text-decoration-underline">{{ title2 }}</h3>
            <ul>
                <li>HTML 5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>Angular</li>
                <li>Bootstrap</li>
                <li>Angular Material</li>
                <li>TypeScript</li>
                <li>Node.JS</li>
                <li>React.JS</li>
                <li>Vue.JS</li>
            </ul>
            <h3 class="text-decoration-underline mt-2">{{ title3 }}</h3>
            <ul>
                <li>Php 8</li>
                <li>Symfony 6</li>
                <li>Ajax</li>
            </ul>

            <h3 class="text-decoration-underline mt-2">{{ title4 }}</h3>
            <ul>
                <li>Merise</li>
                <li>MySql</li>
                <li>SQL</li>
                <li>NoSql (mongoDB)</li>
                <li>PostGreSQL</li>
            </ul>

            <h3 class="text-decoration-underline mt-2">{{ title5 }}</h3>
            <ul>
                <li>Python</li>
                <li>Terraform</li>
                <li>Flask</li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 mx-auto">


            <h3 class="text-decoration-underline mt-2">{{ title6 }}</h3>
            <ul>
                <li>Git / GitHub / GitLab / Bitbucket</li>
                <li>Trello</li>
                <li>Méthode Agile</li>
                <li>Méthode Scrum</li>
                <li>Docker</li>
                <li>Api platform / Webpack Encore</li>
                <li>Swagger Editor / Insomnia</li>
                <li>WordPress</li>
            </ul>
            <h3 class="text-decoration-underline mt-2">{{ title7 }}</h3>
            <ul>
                <li>Linux: Debian, Ubuntu, Fedora</li>
                <li>Windows 10</li>
                <li>Windows 10Pro</li>
            </ul>
            <h3 class="text-decoration-underline mt-2">{{ title8 }}</h3>
            <ul>
                <li>Anglais: Lu, écrit</li>
                <li>Allemand: Lu, écrit</li>
            </ul>

            <h3 class="text-decoration-underline mt-2">{{ title9 }}</h3>
            <ul>
                <li>Bureautique: Excel, Word, Powerpoint</li>
                <li>Algorithmie: Maple, Ada</li>
            </ul>
        </div>
    </div>

</div>