<div id="TopPage"></div><br>

<h1 class="text-center text-decoration-underline mt-5 fw-bold">{{title}}:</h1>
<div class="ods-box mt-2">

<div class="container mt-2">
    <div class="row">

        <div class="col-lg-4 col-md-4">
            <div class="box mx-auto">
                <div class="box-inner">
                    <div class="box-front">
                        <h5>Mars 2023 – Mai 2023</h5>
                        <img src="./assets/Img/XP-pro/LOGO-850-ovh-cloud.png" alt="OVHCloud" class="mt-4">
                    </div>
                    <div class="box-back">
                        <h5>Stage 11 Semaines chez OVHCloud, Croix</h5>
                        <p>Secteur R&D: début de développement d'un futur produit OVHCloud qui sera proposé à la clientèle.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="box mx-auto">
                <div class="box-inner">
                    <div class="box-front">
                        <h5>Avr 2010 – Avr 2022</h5>
                        <img src="./assets/Img/XP-pro/Chausport.jpg" alt="Chausport" class="mt-4">
                    </div>
                    <div class="box-back">
                        <h5>Vendeur Baskets & produits d’entretiens, CHAUSPORT (SA SPODIS)</h5>
                        <p>Vente de Baskets, de produits d’entretiens & d’accessoires.
                            Gestion de caisse, remontée d’indicateurs au siège. Statistiques de vente.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="box mx-auto">
                <div class="box-inner">
                    <div class="box-front">
                        <h5>Mars 2009 – Jan 2010</h5>
                        <img src="./assets/Img/XP-pro/Saturn.jpg" alt="Saturn" class="mt-4">
                    </div>
                    <div class="box-back">
                        <h5>Vendeur téléphonie et produits nomades chez MEDIA Saturn Aulnay sous bois (93)</h5>
                        <p>Vente de téléphones mobile et fixes, d’accessoires, de matériel audio petit son ainsi
                            que de matériel de
                            navigation.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="box mx-auto">
                <div class="box-inner">
                    <div class="box-front">
                        <h5>Mars 2008 – Sept 2008</h5>
                        <img src="./assets/Img/XP-pro/ip4u.jpg" alt="IP4U" class="mt-4">
                    </div>
                    <div class="box-back">
                        <h5>Porting Producer (chargé de post-production), IP4U, Valenciennes</h5>
                        <p>Gestion de projets dans le domaine des jeux vidéo.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="box mx-auto">
                <div class="box-inner">
                    <div class="box-front">
                        <h5>Jan 2008 – Mars 2008</h5>
                        <img src="./assets/Img/XP-pro/ip4u.jpg" alt="IP4U" class="mt-4">
                    </div>
                    <div class="box-back">
                        <h5>Assistant Développeur, IP4U, Valenciennes</h5>
                        <p>Aide à la conception de jeux vidéo.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="box mx-auto">
                <div class="box-inner">
                    <div class="box-front">
                        <h5>Nov 2006 – Fev 2007</h5>
                        <h5>Jui 2007 – Jan 2008</h5>
                        <img class="mt-2" src="./assets/Img/XP-pro/ip4u.jpg" alt="IP4U">
                    </div>
                    <div class="box-back">
                        <h5>Testeur, IP4U, Valenciennes</h5>
                        <p>Tests sur des jeux vidéo mobiles, détection des dysfonctionnements, rédaction de
                            rapports.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="box mx-auto">
                <div class="box-inner">
                    <div class="box-front">
                        <h5>Juin 2002 - Nov 2006</h5>
                        <img class="mt-4" src="./assets/Img/XP-pro/index.jpg" width="150px" alt="">
                    </div>
                    <div class="box-back">
                        <h5>Agent de sécurité</h5>
                        <p>Multiples missions en tant qu'agent de sécurité (événements dans la moitié nord de la
                            France), 2 saisons de surveillance au stade Bollaert (Lens) et quelques missions
                            réalisées au Stadium Nord.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>