<div id="TopPage"></div><br>

<h1 class="text-center text-decoration-underline mt-5 fw-bold">{{title}}:</h1>
<div class="ods-box mt-2">

    <div class="col-lg-8 col-md-8 mx-auto mt-2">

        <ul class="mt-2">
            <li>
                <div>Juin 2023: Obtention du titre professionnel Developpeur Web/Web Mobile (DWWM)</div>
            </li>
            <li>
                <div class="mt-5">Sept 2022 - Juin 2023: Formation Developpeur Web/Web Mobile (DWWM) à l'AFPA de Roubaix
                </div>

                <ul>
                    <li>Mars 2023 à Mai 2023 (11 semaines) stage chez OVHCloud Croix

                        <!-- Button trigger modal -->
                        <a type="button" class="text-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                            (click)="openPopup()">
                            Compétences acquises
                        </a>

                        <!-- Modal -->
                        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Compétences acquises:</h5>
                                        <button type="button" class="btn" (click)="closePopup()">X</button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="nomarge">
                                            <li>Découverte et utilisation de Linux</li>
                                            <li>Découverte et utilisation d'Insomnia (API)</li>
                                            <li>Découverte et utilisation de Swagger Editor</li>
                                            <li>Creation/installation de virtual Machine/ serveur virtuel (OS Debian,
                                                Ubuntu,
                                                Windows 10pro)</li>
                                            <li>Installation d’Apache2 sur serveur Debian et de MySQL sur Ubuntu. </li>
                                            <li>Découverte et utilisation de PostgreSQL</li>
                                            <li>Gestion des interactions entre les serveurs. </li>
                                            <li>Découverte, installation sur serveur Fedora et utilisation de base de
                                                données
                                                NoSQL (mongoDB).</li>
                                            <li>Découverte et utilisation de Python + framework Flask</li>
                                            <li>Découverte et utilisation de Terraform</li>
                                            <li class="mb-3">Création de mes premiers scripts avec la technologie Python
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="mt-5">
                    Mars 2009 – Sept 2009: Formation en alternance vendeur électroménager et multimédia <a
                        href="https://www.ducretet.net/" target="blank">CFA EUGENE DUCRETET</a>, Clichy (92)
                </div>
            </li>
            <li>
                <div class="mt-5">
                    2004 - 2005: DEUG STPI (Sciences et Technologies Pour Ingénieur) - Université des Sciences et
                    Technologies
                    de
                    Lille <a href="https://sciences-technologies.univ-lille.fr/" target="blank">USTL</a>
                </div>
            </li>

            <li>
                <div class="mt-5">Juin 2001: Obtention du baccalauréat série Scientifique</div>
            </li>
        </ul>
    </div>
</div>